# üìá ÏÑ†ÌòïÌöåÍ∑Ä : Î≥¥ÌóòÎ£å ÏòàÏ∏°ÌïòÍ∏∞

## üìû ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∞è Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞

### ÎùºÏù¥Î∏åÎü¨Î¶¨ ÏûÑÌè¨Ìä∏

In [ ]:
#@title ÌåêÎã§Ïä§ (pandas)
import pandas as pd

### Îç∞Ïù¥ÌÑ∞ÏÖã ÏùΩÍ∏∞

In [ ]:
#@title pd.read_csv()
# https://www.kaggle.com/datasets/awaiskaggler/insurance-csv?select=insurance.csv
# !ls
# df = pd.read_csv("insurance.csv")
# df.head()
file_name = "insurance.csv" #@param{"type":"string"}
file_url = f"https://raw.githubusercontent.com/bigdata-young/bigdata_16th/main/data/{file_name}"
# file_url = "https://raw.githubusercontent.com/bigdata-young/bigdata_16th/main/data/insurance.csv"
df = pd.read_csv(file_url)
df # 1338 rows √ó 7 columns

      age     sex   bmi  children smoker     region  expenses
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

[1338 rows x 7 columns]

In [ ]:
#@title df.head()
# ÏµúÏÉÅÎã® 5Í∞ú Îç∞Ïù¥ÌÑ∞
df.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [ ]:
#@title df.tail()
# ÏµúÌïòÎã® 5Í∞ú Îç∞Ïù¥ÌÑ∞
df.tail()

      age     sex   bmi  children smoker     region  expenses
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

In [ ]:
#@title df.info()
# Îç∞Ïù¥ÌÑ∞Í∞Ä Í∞ÄÏßÄÍ≥† ÏûàÎäî Î≥ÄÏàò ÌôïÏù∏
df.info()
# Column : Î≥ÄÏàò Ïù¥Î¶Ñ
# Non-Null Count : Í≤∞Ï∏°Ïπò
# Dtype : ÏûêÎ£åÌòï

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   expenses  1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [ ]:
#@title df.describe()
# ÌÜµÍ≥Ñ Ï†ïÎ≥¥ Ï∂úÎ†•
# Ïó∞ÏÜçÌòï Î≥ÄÏàòÏóê ÎåÄÌïú ÌÜµÍ≥ÑÍ∞í
# ‚Üí sex, smoker, region Ï†úÏô∏
df.describe()

               age          bmi     children      expenses
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.665471     1.094918  13270.422414
std      14.049960     6.098382     1.205493  12110.011240
min      18.000000    16.000000     0.000000   1121.870000
25%      27.000000    26.300000     0.000000   4740.287500
50%      39.000000    30.400000     1.000000   9382.030000
75%      51.000000    34.700000     2.000000  16639.915000
max      64.000000    53.100000     5.000000  63770.430000

In [ ]:
# Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÎÇ¥Î∂ÄÏùò Í∞íÏùÑ ÏÜåÏàòÏ†ê 2ÏûêÎ¶¨ÍπåÏßÄÎßå ÌëúÏãú
pd.options.display.float_format = '{:.2f}'.format

In [ ]:
df.describe()

          age     bmi  children  expenses
count 1338.00 1338.00   1338.00   1338.00
mean    39.21   30.67      1.09  13270.42
std     14.05    6.10      1.21  12110.01
min     18.00   16.00      0.00   1121.87
25%     27.00   26.30      0.00   4740.29
50%     39.00   30.40      1.00   9382.03
75%     51.00   34.70      2.00  16639.92
max     64.00   53.10      5.00  63770.43

## üõ† Ï†ÑÏ≤òÎ¶¨

### Î≤îÏ£ºÌòï Î≥ÄÏàò Î≥ÄÌôò

* Ïó∞ÏÜçÌòï Î≥ÄÏàò
    * Ïó∞ÏÜçÏ†ÅÏúºÎ°ú Ïù¥Ïñ¥ÏßÄÎäî Î≥ÄÏàò
    * Îç∞Ïù¥ÌÑ∞ Í∞ÑÏùò ÌÅ¨Í≥† ÏûëÏùåÏùÑ ÎπÑÍµêÌïòÍ±∞ÎÇò ÏÇ¨ÏπôÏó∞ÏÇ∞ Í∞ÄÎä•
* Î≤îÏ£ºÌòï Î≥ÄÏàò
    * Ïù¥Ïñ¥ÏßÄÎäî Ïà´ÏûêÍ∞Ä ÏïÑÎãå Í∞Å Î≤îÏ£ºÎ°ú Íµ¨ÏÑ±Îêú Î≥ÄÏàò
    * ÌÅ¨Í±∞ÎÇò ÏûëÎã§Í≥† Ìï† Ïàò ÏóÜÏúºÎ©∞, ÌèâÍ∑†Ïù¥ÎùºÎäî Í∞úÎÖê ÎòêÌïú Ï°¥Ïû¨Ìï† Ïàò ÏóÜÏùå 

```
üò≤ Object ÌòïÌÉúÎ°ú ÌëúÌòÑÎêú Î≤îÏ£ºÌòï Î≥ÄÏàòÎ°úÎäî Î™®Îç∏ÎßÅÌï† Ïàò ÏóÜÏùå
```

In [ ]:
# ÎßõÎ≥¥Í∏∞
from sklearn.linear_model import LinearRegression

model = LinearRegression()
# df.columns 
# Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'expenses'], dtype='object')
model.fit(df[['age', 'sex', 'bmi', 'children', 'smoker', 'region']], df['expenses'])

ValueError: ignored

In [ ]:
#@title Object ‚Üí 0 or 1
#@markdown Ìù°Ïó∞ Ïó¨Î∂Ä : yes/no -> 0/1
# eq Î©îÏÜåÎìúÎ°ú ÌÜµÌï¥ yesÏôÄ ÏùºÏπòÌïòÎäîÏßÄ BooleanÌôîÌïú Îí§
# mul Î©îÏÜåÎìúÎ°ú 1ÏùÑ Í≥±Ìï¥Ï§å (1/0)
df.smoker = df.smoker.eq('yes').mul(1)

In [ ]:
df.head()

#### ÎçîÎØ∏ Î≥ÄÏàò / Ïõê-Ìï´ Ïù∏ÏΩîÎî©

In [ ]:
df.dtypes

In [ ]:
#@title df.column.unique(), df.column.nunique()
# Î≤îÏ£º Í∞ØÏàò ÌôïÏù∏
df.sex.unique(), df.sex.nunique(), df.region.unique(), df.region.nunique(),

In [ ]:
#@title pd.get_dummies()
pd.get_dummies(df, columns = ['sex', 'region'])
# 1338 rows √ó 11 columns

In [ ]:
# Í≥†Ïú≥Í∞íÏùÑ ÎçúÏñ¥ÎÇ¥Ïñ¥ Î∂ÄÌïò Ï§ÑÏûÑ (Í≥ÑÏÇ∞Ïñë Ï§ÑÏûÑ)
pd.get_dummies(df, columns = ['sex', 'region'], drop_first=True)
# 1338 rows √ó 9 columns

In [ ]:
# ÏõêÎ≥∏Ïóê Î∞òÏòÅ
df = pd.get_dummies(df, columns = ['sex', 'region'], drop_first=True)
df.info()

### ÌïôÏäµÏÖãÍ≥º ÏãúÌóòÏÖã ÎÇòÎàÑÍ∏∞
**Îç∞Ïù¥ÌÑ∞ Î∂ÑÌï† ÏûëÏóÖ**
1. Ï¢ÖÏÜçÎ≥ÄÏàòÏôÄ ÎèÖÎ¶ΩÎ≥ÄÏàò Î∂ÑÎ¶¨
2. ÌïôÏäµÏÖã(Train set)Í≥º ÏãúÌóòÏÖã(Test set) Î∂ÑÎ¶¨
    * ÌïôÏäµÏö© Îç∞Ïù¥ÌÑ∞ÏÖã, ÌèâÍ∞ÄÏö© ÏãúÌóòÏÖã

||ÎèÖÎ¶ΩÎ≥ÄÏàò|Ï¢ÖÏÜçÎ≥ÄÏàò|
|-|-|-|
|ÌïôÏäµÏÖã|X_train|y_train|
|ÏãúÌóòÏÖã|X_test|y_test|

#### ÎèÖÎ¶ΩÎ≥ÄÏàòÏôÄ Ï¢ÖÏÜçÎ≥ÄÏàò
* **ÎèÖÎ¶ΩÎ≥ÄÏàò**
  * ÏòàÏ∏°Ïóê ÏÇ¨Ïö©ÎêòÎäî Ïû¨Î£åÏôÄ Í∞ôÏùÄ Î≥ÄÏàòÎì§
  * ÌîºÏ≥ê Î≥ÄÏàò(Feature variable), ÌîºÏ≥ê(Feature)
* **Ï¢ÖÏÜçÎ≥ÄÏàò**
  * ÏòàÏ∏°ÏùÑ ÌïòÎ†§Îäî ÎåÄÏÉÅ Î≥ÄÏàò
  * Î™©Ìëú Î≥ÄÏàò (Target variable), ÌÉÄÍπÉ

_Why?_ : ÏßÄÎèÑ ÌïôÏäµÏóê ÏÜçÌïòÎäî Î™®Îç∏ÏùÄ ÎèÖÎ¶ΩÎ≥ÄÏàòÎ•º ÏòàÏ∏°ÌïòÎäî Í≤ÉÏù¥ÎØÄÎ°ú, Î™®Îç∏ÎßÅÌï† Îïå Ïñ¥Îñ§ Î≥ÄÏàòÍ∞Ä Ï¢ÖÏÜçÎ≥ÄÏàòÏù∏ÏßÄ Î™ÖÌôïÌûà ÏïåÎ†§Ï£ºÏñ¥Ïïº Ìï® ‚Üí ÎèÖÎ¶ΩÎ≥ÄÏàòÏôÄ Ï¢ÖÏÜçÎ≥ÄÏàòÎ•º Í∞ÅÍ∞Å Î≥ÑÎèÑÏùò Îç∞Ïù¥ÌÑ∞Î°ú ÏûÖÎ†• Î∞õÏùå

#### ÌïôÏäµÏÖãÍ≥º ÏãúÌóòÏÖã
_Why?_ : ÌïôÏäµÏÖãÍ≥º ÏãúÌóòÏÖãÏùÑ Íµ¨Î∂ÑÌïòÏßÄ ÏïäÍ≥† ÏòàÏ∏° Î™®Îç∏ÏùÑ ÎßåÎì§ Í≤ΩÏö∞ ÏÉàÎ°úÏö¥ Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌïú ÏòàÏ∏°Î†•ÏùÑ Í≤ÄÏ¶ùÌï† Ïàò ÏóÜÏùå
* Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏßÄÍ≥† Î™®Îç∏ÎßÅ(ÌïôÏäµ)ÏùÑ ÌïòÍ≥†, Îòê Îã§Ïãú Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌï¥ÏÑú ÏòàÏ∏°Í∞íÏùÑ ÎßåÎì§Ïñ¥ÏÑú Ï¢ÖÏÜçÎ≥ÄÏàòÏôÄ ÎπÑÍµêÌñàÍ∏∞ ÎïåÎ¨∏Ïóê ÌäπÏ†ï Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌï¥ Í≥ºÏµúÏ†Å ÎêòÏóàÏùÑ Ïàò ÏûàÏùå
* ÏãúÌóòÏÖãÏùÑ ÌÜµÌï¥ Í≤ÄÏ¶ùÌïòÏßÄ ÏïäÏùÄ ÏÉÅÌÉúÎùºÎäî Î∂àÌôïÏã§ÏÑ±ÏùÑ Ï§ÑÏùº Ïàò ÏûàÏùå
* ÏùºÎ∞òÏ†ÅÏúºÎ°ú **ÌïôÏäµÏÖã:ÏãúÌóòÏÖã**ÏùÑ Í∞ÅÍ∞Å 7:3, 8:2 Ï†ïÎèÑÎ°ú ÎÇòÎàî<br>(Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞Í∞Ä Ï†ÅÏùÑ Í≤ΩÏö∞ ÌïôÏäµÏÖãÏùÑ Ïö∞ÏÑ†Ïãú)

#### Îç∞Ïù¥ÌÑ∞ÏÖã ÎÇòÎàÑÍ∏∞

In [ ]:
#@title ÎèÖÎ¶ΩÎ≥ÄÏàò, Ï¢ÖÏÜçÎ≥ÄÏàò
# df.info()
# df.columns
# ÎèÖÎ¶ΩÎ≥ÄÏàò
X = df[['age', 'bmi', 'children', 'smoker', 'sex_male',
        'region_northwest', 'region_southeast', 'region_southwest']]
# Ï¢ÖÏÜçÎ≥ÄÏàò : Î≥¥ÌóòÎ£å
y = df['expenses']

In [ ]:
#@title ÏÇ¨Ïù¥ÌÇ∑Îü∞
from sklearn.model_selection import train_test_split

In [ ]:
#@title train_test_split()
# random_state : ÏùºÍ¥ÄÏÑ± Ïú†ÏßÄ (likeÏãúÎìú)
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size = 0.2, random_state=100)

## üóΩ Î™®Îç∏ÎßÅ
* Î®∏Ïã†Îü¨Îãù ÏïåÍ≥†Î¶¨Ï¶òÏúºÎ°ú Î™®Îç∏ÏùÑ ÌïôÏäµÏãúÌÇ§Îäî Í≥ºÏ†ï ‚Üí Í≤∞Í≥ºÎ¨º : Î®∏Ïã†Îü¨Îãù Î™®Îç∏
* Î™®Îç∏ÎßÅÏóê ÏÇ¨Ïö©Ìï† Î®∏Ïã†Îü¨Îãù ÏïåÍ≥†Î¶¨Ï¶òÏùÑ ÏÑ†ÌÉù
* ÎèÖÎ¶ΩÎ≥ÄÏàòÏôÄ Ï¢ÖÏÜçÎ≥ÄÏàòÎ•º *fit()* Ìï®ÏàòÏóê Ïù∏ÏàòÎ°ú Ï£ºÏñ¥ ÌïôÏäµ

|ÏïåÍ≥†Î¶¨Ï¶ò ÏÑ†ÌÉù| |Î™®Îç∏ ÏÉùÏÑ±| |Î™®Îç∏ ÌïôÏäµ| |Î™®Îç∏ÏùÑ ÏÇ¨Ïö©Ìïú ÏòàÏ∏°|
|-|-|-|-|-|-|-|
|Îã§ÏñëÌïú Î®∏Ïã†Îü¨Îãù<br>ÏïåÍ≥†Î¶¨Ï¶ò Ï§ë ÏÑ†ÌÉù ÌõÑ<br>ÎùºÏù¥Î∏åÎü¨Î¶¨ ÏûÑÌè¨Ìä∏|‚Üí|Î™®Îç∏ÎßÅÏóê ÏÇ¨Ïö©Ìï†<br>Î™®Îç∏ ÏÉùÏÑ±|‚Üí|*fit()* Ìï®ÏàòÏóê ÌïôÏäµÏÖãÏùò<br>ÎèÖÎ¶ΩÎ≥ÄÏàòÏôÄ Ï¢ÖÏÜçÎ≥ÄÏàòÎ•º<br>Ïù∏ÏàòÎ°ú ÎåÄÏûÖ|‚Üí|train_test_split()<br>Ìï®ÏàòÏóê ÌèâÍ∞ÄÏÖãÏùò <br>ÎèÖÎ¶ΩÎ≥ÄÏàòÎ•º Ïù∏ÏàòÎ°ú ÎåÄÏûÖ

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()

In [ ]:
#@title model.fit()
# Î™®Îç∏ÏùÑ ÌïôÏäµÏãúÌÇ§Îäî Ìï®Ïàò
# [ÌïôÏäµÏãúÌÇ®Îã§]
# - Îç∞Ïù¥ÌÑ∞Î•º Î™®Îç∏ ÏïàÏóê ÎÑ£Ïñ¥ÏÑú
# - ÎèÖÎ¶ΩÎ≥ÄÏàòÏôÄ Ï¢ÖÏÜçÎ≥ÄÏàò Í∞ÑÏùò Í¥ÄÍ≥ÑÎì§ÏùÑ Î∂ÑÏÑùÌï¥
# - ÏÉàÎ°úÏö¥ Îç∞Ïù¥ÌÑ∞Î•º ÏòàÏ∏°Ìï† Ïàò ÏûàÎäî ÏÉÅÌÉúÎ°ú ÎßåÎìúÎäî Í≤É
# model.fit(ÎèÖÎ¶ΩÎ≥ÄÏàò, Ï¢ÖÏÜçÎ≥ÄÏàò)
model.fit(X_train, y_train)

## üèÅ ÏòàÏ∏°
* Î™®Îç∏ÏùÑ ÌôúÏö©Ìï¥ ÏòàÏ∏°

In [ ]:
#@title model.predict()
pred = model.predict(X_test)

## üëÄ ÏòàÏ∏° Î™®Îç∏ ÌèâÍ∞Ä
* ÌÖåÏù¥Î∏îÎ°ú ÌèâÍ∞Ä
* Í∑∏ÎûòÌîÑÎ°ú ÌèâÍ∞Ä ‚úî
* ÌÜµÍ≥ÑÏ†Å Î∞©Î≤ïÏúºÎ°ú ÌèâÍ∞Ä (RMSE) ‚úî‚úî‚úî

### ÌÖåÏù¥Î∏îÎ°ú ÌèâÍ∞Ä

In [ ]:
# Îëê Îç∞Ïù¥ÌÑ∞Î•º ÎπÑÍµêÌïòÏó¨ Ï†ïÌôïÎèÑ ÌôïÏù∏
comparison = pd.DataFrame({'actual': y_test, 'pred': pred})

In [ ]:
X_test

In [ ]:
# Ìïú ÎààÏóê ÎπÑÍµêÌïòÍ∏∞ Ïñ¥Î†§ÏõÄ
comparison

### Í∑∏ÎûòÌîÑÎ°ú ÌèâÍ∞Ä

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#@title ÏÇ∞Ï†êÎèÑ Í∑∏Î¶¨Í∏∞ (sns.scatterplot())
plt.figure(figsize=(10,10)) # ÏÇ¨Ïù¥Ï¶à ÏÑ§Ï†ï
sns.scatterplot(x = 'actual', y = 'pred', data = comparison)

### RMSE & R¬≤(Í≤∞Ï†ïÍ≥ÑÏàò)

|ÌèâÍ∞ÄÏßÄÌëú|ÏÑ§Î™Ö|
|-|-|
|MAE (Mean Absolute Error, ÌèâÍ∑† Ï†àÎåÄ Ïò§Ï∞®)|- Ïã§Ï†ØÍ∞íÍ≥º ÏòàÏ∏°Í∞í ÏÇ¨Ïù¥Ïùò Ïò§Ï∞®Ïóê Ï†àÎåìÍ∞íÏùÑ ÏîåÏö¥ Îí§ Ïù¥Ïóê ÎåÄÌïú ÌèâÍ∑†ÏùÑ Í≥ÑÏÇ∞<br>- 0Ïóê Í∞ÄÍπåÏö∏ÏàòÎ°ù Ï¢ãÏùå|
|MSE (Mean Squared Error, ÌèâÍ∑† Ï†úÍ≥± Ïò§Ï∞®)|- Ïã§Ï†ØÍ∞íÍ≥º ÏòàÏ∏°Í∞í ÏÇ¨Ïù¥Ïùò Ïò§Ï∞®Î•º  Ï†úÍ≥±Ìïú Îí§ Ïù¥Ïóê ÎåÄÌïú ÌèâÍ∑†ÏùÑ Í≥ÑÏÇ∞<br>- 0Ïóê Í∞ÄÍπåÏö∏ÏàòÎ°ù Ï¢ãÏùå|
|RMSE (Root Mean Absolute Error, Î£®Ìä∏ ÌèâÍ∑† Ï†úÍ≥± Ïò§Ï∞®)<br>|- MSEÏóê Î£®Ìä∏Î•º ÏîåÏö¥ Í∞í<br>- 0Ïóê Í∞ÄÍπåÏö∏ÏàòÎ°ù Ï¢ãÏùå<br>- Ïó∞ÏÜçÌòï Î≥ÄÏàòÎ•º ÏòàÏ∏°Ìï† Îïå Í∞ÄÏû• ÏùºÎ∞òÏ†ÅÏúºÎ°ú ÏÇ¨Ïö©ÎêòÎäî ÌèâÍ∞ÄÏßÄÌëú|
|R¬≤|- Í≤∞Ï†ïÍ≥ÑÏàò<br>- ÎèÖÎ¶ΩÎ≥ÄÏàòÍ∞Ä Ï¢ÖÏÜçÎ≥ÄÏàòÎ•º ÏñºÎßàÎßåÌÅº ÏÑ§Î™ÖÌï¥ Ï£ºÎäîÏßÄ ÎÇòÌÉÄÎÇ¥Îäî ÏßÄÌëú, Ï¶â ÏÑ§Î™ÖÎ†•<br>- 1Ïóê Í∞ÄÍπåÏö∏ÏàòÎ°ù Ï¢ãÏùå|
```

In [ ]:
#@title mean_squared_error()
from sklearn.metrics import mean_squared_error

In [ ]:
# MSE
# mean_squared_error(y_test, pred)
# RMSE
mean_squared_error(y_test, pred) ** 0.5

In [ ]:
mean_squared_error(y_test, pred, squared=False)

In [ ]:
#@title model.score()
#@markdown $R^2 = \frac{SSR}{SST}$<br>
#@markdown * **SST** (Sum of Squares Total) : Ï¥ùÎ≥ÄÎèô
#@markdown * **SSR** (Sum of Squares Regression) : ÏÑ§Î™Ö Í∞ÄÎä•Ìïú Î≥ÄÎèô
#@markdown * Î™®Îç∏Ïù¥ ÏñºÎßàÎÇò Í∞íÏùò Î≥ÄÎèôÏùÑ Ïûò ÏÑ§Î™ÖÌïòÎäîÍ∞Ä? = ÏòàÏ∏°ÏùÑ ÏûòÌïòÎäîÍ∞Ä?
model.score(X_train, y_train)

## ü•ï Ïù¥Ìï¥

### ÏÑ†ÌòïÌöåÍ∑Ä `Linear Regression`
* ÎèÖÎ¶ΩÎ≥ÄÏàòÏôÄ Ï¢ÖÏÜçÎ≥ÄÏàò Í∞ÑÏóê ÏÑ†Ìòï Í¥ÄÍ≥ÑÍ∞Ä ÏûàÏùåÏùÑ Í∞ÄÏ†ïÌïòÏó¨ ÏµúÏ†ÅÏùò ÏÑ†ÏùÑ Í∑∏Î†§ÏÑú ÏòàÏ∏°ÌïòÎäî Î∞©Î≤ï
* Î®∏Ïã†Îü¨ÎãùÏóêÏÑúÎäî ÏÜêÏã§ Ìï®Ïàò`Loss Function`Î•º ÏµúÏÜåÌôîÌïòÎäî ÏÑ†ÏùÑ Ï∞æÏïÑÏÑú Î™®Îç∏ÏùÑ ÎßåÎì§Ïñ¥ÎÉÑ
* ÏàòÏãùÏùÑ ÎèÑÏ∂úÌïòÍ∏∞ Îß§Ïö∞ ÏâΩÍ∏∞ ÎïåÎ¨∏Ïóê Í∑∏ Ìï¥ÏÑùÎèÑ Îß§Ïö∞ ÏßÅÍ¥ÄÏ†Å

In [ ]:
import matplotlib.pyplot as plt

x = [5,7,8,7,2,17,2,9,4,11,12,9,6]
y = [99,86,87,88,111,86,103,87,94,78,77,85,86]

plt.scatter(x, y)
plt.show()

In [ ]:
from scipy import stats

# Í∏∞Ïö∏Í∏∞(Í≥ÑÏàò), yÏ†àÌé∏
slope, intercept, r, p, std_err = stats.linregress(x, y)
print(slope, intercept)

def myfunc(x):
  return slope * x + intercept

mymodel = list(map(myfunc, x))

plt.scatter(x, y)
plt.plot(x, mymodel)
plt.show()

In [ ]:
#@title model.coef_
# ÎèÖÎ¶ΩÎ≥ÄÏàòÎ≥Ñ Í≥ÑÏàò ÌôïÏù∏
import numpy as np

np.set_printoptions(precision=3)
model.coef_

In [ ]:
pd.Series(model.coef_, index = X.columns)

In [ ]:
#@title model.intercept_
# yÏ†àÌé∏ ÌôïÏù∏
model.intercept_

### üôÄ Ïú†ÏùòÌï† Ï†ê
* Î™®Îç∏Ïùò Í≥ÑÏàòÎ•º Ìï¥ÏÑùÌï† Îïå Î∂ÄÌò∏Ïùò ÏòÅÌñ•Ïóê Ïú†Ïùò
* Î∂ÄÌò∏ÏôÄ ÏÉÅÍ¥ÄÏóÜÏù¥ **Í≥ÑÏàòÏùò Ï†àÎåìÍ∞íÏù¥ ÌÅ¥ÏàòÎ°ù ÏòÅÌñ•Ïù¥ ÌÅ¨Îã§**Í≥† Ìï† Ïàò ÏûàÍ≥†, Ï†àÎåìÍ∞íÏù¥ 0Ïóê Í∞ÄÍπåÏö∏ÏàòÎ°ù ÏòÅÌñ•Î†•Ïù¥ Í±∞Ïùò ÏóÜÏùå
* Îã§Îßå, Ïó¨Îü¨ Í≥ÑÏàòÎ•º ÏÑúÎ°ú ÎπÑÍµêÌï† Îïå Îã®ÏàúÌûà Ï†àÎåìÍ∞íÏù¥ Îçî ÌÅ¨Î©¥ ÏòÅÌñ•Ïù¥ Îçî ÌÅ¨Îã§Í≥† Î≥¥Í∏∞ÏóêÎäî Î¨¥Î¶¨Í∞Ä ÏûàÏùå ‚Üí Í∞Å Î≥ÄÏàòÏùò Ïä§ÏºÄÏùºÏù¥ Îã§Î•¥Í∏∞ ÎïåÎ¨∏
  * Ïòà) ÏÑ±Î≥ÑÏùÄ 0Í≥º 1Î°úÎßå ÎêòÏñ¥ ÏûàÎäî Î∞òÎ©¥, ÎÇòÏù¥Îäî 20Î∂ÄÌÑ∞ 60 Îì± Ïã≠Ïùò ÏûêÎ¶¨ Ïà´ÏûêÎ•º Í∞ÄÏßÄÍ≥† ÏûàÏùå. Ï¶â, ÏÑ±Î≥ÑÏù¥ 1 Ïª§Ïßà ÎïåÏôÄ ÎÇòÏù¥Í∞Ä 1 Ïª§Ïßà ÎïåÍ∞Ä ÏßÄÎãàÎäî ÏòÅÌñ•Î†•Ïù¥ Îã§Î•¥Îã§Îäî Í≤É
* Ïù¥ Î∂ÄÎ∂ÑÏùÑ Î™ÖÎ£åÌïòÍ≤å ÎπÑÍµêÌïòÎ†§Î©¥ Ïä§ÏºÄÏùºÎßÅ ÏûëÏóÖÏù¥ ÌïÑÏöî (To Be Continue...)

### ü™° Í¥ÄÎ†® Î™®Îç∏

In [ ]:
def score_model(model):
    model.fit(X_train, y_train)
    pred = model.predict(X_test)
    return {
        "RMSE" : mean_squared_error(y_test, pred, squared=False),
        "R¬≤": model.score(X_test, y_test)
    }

In [ ]:
score_model(LinearRegression())

In [ ]:
#@title Î¶øÏßÄ ÌöåÍ∑Ä (Ridge Regression)
#@markdown * ÏÑ†Ìòï ÌöåÍ∑Ä Î™®Îç∏Ïóê L2 Ï†ïÍ∑úÌôîÎ•º Ï†ÅÏö©ÏãúÌÇ® Î™®Îç∏
#@markdown * Ïò§Î≤ÑÌîºÌåÖÏùÑ ÏñµÏ†úÌïòÎäî Ìö®Í≥º
from sklearn.linear_model import Ridge

score_model(Ridge())

In [ ]:
#@title ÎùºÏèò ÌöåÍ∑Ä (Lasso Regression)
#@markdown * ÏÑ†Ìòï ÌöåÍ∑Ä Î™®Îç∏Ïóê L1 Ï†ïÍ∑úÌôîÎ•º Ï†ÅÏö©ÏãúÌÇ® Î™®Îç∏
#@markdown * ÌîºÏ≤ò ÏÖÄÎ†âÏÖò Î∞è Ïò§Î≤ÑÌîºÌåÖÏùÑ ÏñµÏ†úÌïòÎäî Ìö®Í≥º
from sklearn.linear_model import Lasso

score_model(Lasso())

In [ ]:
#@title ÏóòÎùºÏä§Ìã± ÎÑ∑ (Elastic Net)
#@markdown * Î¶øÏßÄ ÌöåÍ∑ÄÏôÄ ÎùºÏèò ÌöåÍ∑ÄÏùò Îã®Ï†êÏùÑ Ï†àÏ∂©
from sklearn.linear_model import ElasticNet

score_model(ElasticNet())

## üíæ Î™®Îç∏ Î∞∞Ìè¨

In [ ]:
!pip install mlxtend --quiet
import joblib

joblib.dump(model, 'first_model.pkl')

In [ ]:
model_from_joblib = joblib.load('first_model.pkl')
pd.Series(model_from_joblib.coef_, index = X.columns)